<div *ngIf="info && info.sprites" class="bloq_list" [style.background]="gradientStyle">
    <div>
        <img 
            *ngIf="!isHovered" 
            style="filter: drop-shadow(2px 4px 10px black);" 
            src="{{ info.sprites.front_default }}" 
            alt="" 
            class="sprite h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
    <div class="bloque_nombre text-[36px] text-white font-black uppercase pl-[6px]">{{ info.name }}</div>
    <div>
        <app-types [tipos]="tipos"></app-types>
    </div>
    <div>
        <div>
            <fa-icon [icon]="faCoffee"></fa-icon>
        </div>
    </div>
</div>
