<a  class="group cursor-pointer">
  <div 
    *ngIf="info && info.sprites" 
    [routerLink]="['/pokemon', id]" 
    (mouseenter)="toggleHover(true)" 
    (mouseleave)="toggleHover(false)" 
    class="card_container aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7" 
    [style.background]="gradientStyle"
  >
    <div class="tipo">
      <app-types [tipos]="tipos"></app-types>
    </div>
    <div class="nombre_pokemon text-[36px] text-white font-black uppercase pl-[6px]">
      {{ info.name }}
    </div>
    <img *ngIf="!isHovered" 
      style="filter: drop-shadow(2px 4px 6px black);" 
      src="{{ info.sprites.front_default }}" 
      alt="" 
      class="h-full w-full object-cover object-center group-hover:opacity-75">
    <img *ngIf="isHovered" 
      src="{{ info.sprites.back_default }}" 
      alt="" 
      class="h-full w-full object-cover object-center group-hover:opacity-75">
  </div>
</a> 