.card_container {
  position: relative;
  height: 300px; /* Ajusta al tamaño deseado */
}

.card_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.nombre_pokemon {
  position: absolute;
  z-index: 999;
  bottom: 0;
}

.tipo {
  float: right;
  margin: 10px;
}